<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>练习</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<body>
<div id="app">
    <!--template slot transition-->
    <input type="radio" v-model="radio" value="home">home
    <input type="radio" v-model="radio" value="list">list
    <!--keep-alive 一般用作缓存：为的死后面的路由做准备 如果缓存了就不会再走created mounted beforeDestroy这些钩子函数了-->
    <keep-alive>
        <compontent :is="radio"></compontent>
    </keep-alive>
</div>
<script src="../node_modules/vue/dist/vue.js"></script>

<script>
    let home = {
        template: '<div>home</div>',
        mounted() {
            console.log('挂载1')
        },
        beforeDestroy() {
            console.log('销毁1');
        }
    };
    let list = {
        template: '<div>list</div>',
        mounted() {
            console.log('挂载2')
        },
        beforeDestroy() {
            console.log('销毁2');
        }
    };
    let vm = new Vue({
        el: '#app',
        data: {radio: 'home'},
        components: {
            home, list
        }
    })
</script>
</body>

</html>
