<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>练习</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
</head>

<body>
<div id="app">
    <panel :type="artile.type" @say-title="parent" v-for="(artile,index) in artiles" :key="index">
        <div slot="title">
            {{artile.title}}
        </div>
        <div slot="content">
            {{artile.content}}
        </div>
        <div slot="floot" v-if="artile.auth">
            作者：{{artile.auth}}
        </div>
    </panel>
</div>
<template id="panel">
    <div class="panel col-lg-8 col-lg-offset-2 mt-2" :class="color">
        <div class="panel-heading" ref="head">
            <slot name="title"></slot>
        </div>
        <div class="panel-body">
            <slot name="content"></slot>
        </div>
        <div class="panel-footer">
            <slot name="floot"><div>作者：佚名</div></slot>
            <button @click="showTitle">查看标题</button>
        </div>
    </div>
</template>
<script src="../node_modules/vue/dist/vue.js"></script>

<script>
    let panel = {
        props: {
            type: {
                default: 'default'
            }
        },
        computed: {
            color() {
                return 'panel-' + this.type
            }
        },
        template: '#panel',
        methods: {
            showTitle() {
                this.$emit('say-title', this.$refs.head.innerText)
            }
        }
    }
    let vm = new Vue({
        el: '#app',
        data: {
            artiles: [
                {type: 'warning', title: 'Vue', content: '这是Vue的文章', auth: 'HJL'},
                {type: 'default', title: 'React', content: '这是React的文章'},
                {type: 'warning', title: 'angular', content: '这是angular的文章'}
            ]
        },
        components: {
            panel
        },
        methods: {
            parent(title) {
                console.log(title);
            }
        }
    })
</script>
</body>

</html>
